*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --as: #4891ff;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}
a{
    text-decoration: none;
    color: indigo;
}

ul{
    list-style: none;
}
img{
    max-width: 100%;
}
/*Navbar*/
.navbar{
    background: white;
    padding: 10px; 
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .main-menu ul{
    display: flex;
}
.navbar ul li a{
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}
.navbar ul li a:hover{
    color: var(--as);
}

/* Utility? Classes */
.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
/*butonlar*/
.btn{
    display: inline-block;
    padding: 13px 20px;
    background-color: blanchedalmond;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    text-decoration: none;
    font-weight: 600;
}
.btn :hover{
    opacity: 0.8;
}